@model VertoTask.Models.FieldEvent
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-x grid-margin-x">
    <div class="cell large-8 medium-10 small-12">

        <h2>Create Field Event</h2>

        <form asp-action="Create" asp-controller="AdminFieldEvent" method="post" enctype="multipart/form-data">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">

                    
                    <div class="cell medium-12">
                        <label>
                            Event Name
                            <input type="text" asp-for="EventName" />
                        </label>
                    </div>

                    
                    <div class="cell medium-12">
                        <label>
                            Event Date
                            <input type="date" asp-for="EventDate" />
                        </label>
                    </div>

                    
                    <div class="cell medium-12">
                        <label>
                            Event Details
                            <textarea asp-for="Description" rows="4"></textarea>
                        </label>
                    </div>

                    
                    <div class="cell medium-12">
                        <label>
                            Image for Event
                            <input type="file" name="imageFile" />
                        </label>
                    </div>

                    
                    <div class="cell medium-12">
                        <input type="submit" class="button success" value="Create" />
                    </div>

                </div>
            </div>
        </form>
        <div class="admin-button-container">
            <a href="@Url.Action("Index", "Admin")" class="button primary">Go to Admin</a>
        </div>

    </div>
</div>
